@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #5a2d82;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

li::marker {
    list-style-type: none;
}

.menu-top {
    background-color: #5a2d82;
    color: #FFF;
    height: 70px;
    padding: .80em;
    align-content: center;
}

.menu-bottom {
    color: #5a2d82;
    border-bottom: 2px solid #5a2d82;
    padding: 0%;
}

.menu-bottom a {
    color: #5a2d82;
}

.menu-bottom-container {
    width: auto;
}

.menu-bottom .nav-item {
    padding-left: 2em;
    padding-right: 2em;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.menu-bottom .nav-item:hover {
    border-bottom: 2px solid #645472;
}

.menu-title {
    font-size: 1.70rem;
    color: #FFF;
}

.menu-title:hover {
    color: #FFF;
}

.form-menu-search {
    width: 100%;
    margin-left: 1.5em;
}

.menu-search {
    border-radius: .80rem;
    width: 80%;
    padding: .375rem .75rem;
    border-color: #5a2d82;
    color: #5a2d82;
}

.menu-search:focus {
    outline: none !important;
}

.menu-search-btn {
    color: #FFF;
    width: 80px;
    border-color: #FFF;
    background-color: #5a2d82;
    border-radius: .80rem;
}

.menu-search-btn:hover {
    color: #5a2d82;
    border-color: #5a2d82;
    background-color: #FFF;
    border-radius: .80rem;
}

.menu-cart,
.menu-cart:hover {
    width: 100px;
    color: #5a2d82;
}

.menu-cart-icon {
    color: #FFF;
    font-size: 1.50em;
}

.menu-cart-icon-count {
    font-size: 0.65em;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    padding-top: 50px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #743aa8;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }