@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: gray;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.menu-top {
    background-color: #5a2d82;
    color: #FFF;
    height: 70px;
    padding: .80em;
}

.nav-link {
    color: #FFF;
}

.nav-link:hover {
    color: gray;
}

.menu-title {
    font-size: 1.50rem;
    color: #FFF;
}

.menu-title:hover {
    color: #FFF;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.menu-cart,
.menu-cart:hover {
    margin-left: 100px;
    color: #5a2d82;
}

.menu-cart-icon {
    color: #FFF;
    font-size: 1.70em;
}